config MAKO_HOTPLUG
    bool "mako hotplug driver"
    default n
    help
	   The Dynamic hotplug driver automatically online/offline CPUs by FranciscoFranco.

config MSM_HOTPLUG
	bool "MSM hotplug driver"
	depends on HOTPLUG_CPU
	default y
	help
	  The MSM hotplug driver controls on-/offlining of additional cores based
	  on current cpu load.

